.Item__Catagory{
  margin: 10px;
  text-align: left;
  background-color: rgb(255, 252, 248);
}
.show__all{
  margin: 20px 10px 20px 20px;
  font-size: 18px;
  
}
.show__all:hover{

  cursor: pointer;
  background-color: rgb(248, 237, 222);
}
