.Shopping__Cart{
  background-color: rgb(255, 252, 248);
}
.Shopping__Cart_title{
  margin-left: 50px;
  text-align: left;
}
.Cart__Empty{
  height: 200px;
  text-align: left;
  margin-left: 100px;
}
.Shopping__Cart_footer{
  display: flex;
}
.Shopping__Cart_footer_button{
  margin: 20px 20px 20px 20px;
  
  text-align: left;

  width: 50%;
  height:30px
}
.Shopping__Cart_footer_button2{
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(237, 189, 57);
  border-color: rgb(237, 189, 57);;
}
.Shopping__Cart_footer_button2:hover{
  background-color: rgb(231, 178, 34);
  cursor: pointer;
}

.Shopping__Cart_footer_total{
  
  width: 50%;
  text-align: right;
  margin-right: 50px;
}

.Shopping__Cart__iamge{
  margin: 10px;
}

.Shopping__Cart_Body{
  display: flex;
}
.Shopping__Cart__Main{
  width: 75%;
}
.Check_out{
  width: 25%;
  background-color: rgb(237, 229, 221);
  margin:20px;
}
.Check_out_title{
  text-align: left;
  margin-left: 10%;;
}
.check_out_bottom{
  display: flex;
}
.check_out_bottom_left{
  width: 50%;
  text-align: left;
  margin-left: 10%;
}
.check_out_bottom_right{
  width: 50%; 
  text-align: right;
  margin-right: 10%;
  font-weight:bold;

}

.check_out_button{
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(237, 189, 57);
  border-color: rgb(237, 189, 57);;
}
.check_out_button:hover{
  background-color: rgb(231, 178, 34);
  cursor: pointer;
}



.Shopping__Cart__List{
  background-color: rgb(236, 229, 222);
  margin:20px;
  padding: 10px;
}


.Shopping__Cart__List_item{
  background-color: rgb(247, 242, 238);
  display: flex;
  margin: 20px;
 
 
}
.Shopping__Cart__iamge{
  width: 200px;
  height: 200px;
}
.SC_descriprion{
  text-align: left;
  margin-left: 100px;
}


