.total__gallary{
  justify-content: center;
}

.product__gallary{
  margin:30px;
  width: 300px;
  float: left;
  margin: 20px,20px,20px,20px;
  justify-content: center;
  overflow-wrap:normal;
  
}



.product__gallary__iamge{
 
  
  width: 300px;
  height: 300px;
}