.Cart_main{
  display: flex;
}

.Shopping__Cart__Main{
  width: 75%;
}


.Check_out{
  width: 25%;
}


.Shopping__Cart__List_item{
  display: flex;
}
.Shopping__Cart__iamge{
  width: 200px;
  height: 200px;
}